/* ---------- ACA COMIENZAN LAS VARIABLES DE TEXTOS ---------- */
/* ---------- ACA COMIENZAN LAS CLASES DE TEXTOS ---------- */
.mainTitle {
  color: #ffffff;
  font-family: "Fraunces", serif; }

.secondaryTitle {
  color: #264653;
  font-family: "Fraunces", serif; }

.thirdTitle {
  color: #E76F51;
  font-family: Arial, Helvetica, sans-serif; }

.generalText {
  color: #264653;
  font-family: Arial, Helvetica, sans-serif; }

/* ---------- ACA COMIENZAN LAS VARIABLES DE TEXTOS ---------- */
/* ---------- ACA COMIENZAN LAS CLASES DE TEXTOS ---------- */
.mainTitle {
  color: #ffffff;
  font-family: "Fraunces", serif; }

.secondaryTitle {
  color: #264653;
  font-family: "Fraunces", serif; }

.thirdTitle {
  color: #E76F51;
  font-family: Arial, Helvetica, sans-serif; }

.generalText {
  color: #264653;
  font-family: Arial, Helvetica, sans-serif; }

.button {
  color: #264653;
  background-color: #F4A261;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }

.buttonAlternative {
  color: #2A9D8F;
  border-color: #2A9D8F;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition: color background-color 0.5s;
  transition: color 0.5s; }

.buttonAlternative:hover {
  color: white;
  background-color: #2A9D8F;
  border-color: #2A9D8F;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }

html {
  font-size: 16px; }

/* ---------- ACA COMIENZAN LOS ID DEL HEADER ---------- */
#header {
  color: #264653;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  padding: 16px 24px 16px 24px;
  border-bottom: 1px solid #F4A261; }
  #header .navbar-light .navbar-nav .nav-link {
    color: #264653;
    padding: 0px 16px 0px 16px; }
  #header .navbar-light .navbar-nav .nav-link:focus, #header .navbar-light .navbar-nav .nav-link:hover {
    color: #E76F51; }
  #header .bg-light {
    background-color: #ffffff !important; }
  #header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }

/* ---------- ACA COMIENZAN LAS CLASES DEL FOOTER ---------- */
#footer {
  background-color: #264653;
  color: #ffffff;
  font-family: 'Fraunces', serif;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 24px;
  padding-top: 40px;
  padding-bottom: 40px; }
  #footer .footerMenu {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    grid-column-gap: 24px; }
    #footer .footerMenu ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none; }
      #footer .footerMenu ul li {
        padding-left: 16px;
        padding-right: 16px; }
        #footer .footerMenu ul li a {
          color: #ffffff;
          text-decoration: none;
          transition: color 0.5s; }
        #footer .footerMenu ul li a:hover {
          color: #E76F51;
          text-decoration: none; }
  #footer .footerInfo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
    #footer .footerInfo a {
      color: #c4c4c4;
      text-decoration: none;
      padding-top: 16px;
      transition: color 0.5s; }
      #footer .footerInfo a img {
        width: 135px; }

/* ---------- ACA COMIENZAN LOS ID DE MASTERCLASS ---------- */
#masterclass {
  display: grid;
  grid-template-rows: 1fr; }
  #masterclass .masterclassContent {
    padding: 24px; }
    #masterclass .masterclassContent iframe {
      width: 100%;
      height: 550px;
      padding-top: 24px; }

/* ---------- ACA COMIENZAN LOS ID Y CLASS DEL FORM ---------- */
#forms {
  font-family: Arial, Helvetica, sans-serif; }

#formSection {
  padding: 24px; }
  #formSection .radio {
    padding-top: 16px;
    padding-bottom: 16px; }
    #formSection .radio .radioFields {
      padding-top: 8px;
      padding-bottom: 8px; }

/* ---------- ACA COMIENZAN LAS CLASES DEL HERO ---------- */
.heroMedia {
  position: relative;
  background-color: #F4A261; }
  .heroMedia .media {
    position: relative;
    z-index: 0;
    max-width: 100%;
    height: auto;
    width: auto; }

.heroContent {
  position: absolute;
  top: 40%;
  left: 40px;
  z-index: 1; }
  .heroContent .mainTitle {
    font-family: "Fraunces", serif;
    font-size: 4.375rem;
    font-weight: 900;
    text-shadow: -1px 1px 3px #666; }
  .heroContent .generalText {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: -1px 1px 3px #666; }

/* ---------- ACA COMIENZAN LAS CLASES DE PODUCTO ---------- */
#product {
  background: linear-gradient(340deg, rgba(42, 157, 143, 0.615284) 0%, #e9c46a 28%, rgba(244, 162, 97, 0.923407) 100%);
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 56px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center; }

.imageRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  justify-items: left; }
  .imageRight div {
    max-width: 500px;
    order: 1; }
  .imageRight img {
    border-radius: 16px;
    order: 2;
    width: 100%; }

.imageLeft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  justify-items: left; }
  .imageLeft div {
    max-width: 500px; }
  .imageLeft img {
    border-radius: 16px;
    width: 100%; }

/* ---------- ACA COMIENZAN LAS CLASES DE GRUPOS ---------- */
#groups {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px; }
  #groups .card-title {
    color: #E76F51;
    font-weight: bold; }
    #groups .card-title .card-text {
      color: #264653; }
  #groups div {
    transition: transform 0.5s; }
  #groups div:hover {
    transform: scale(1.02);
    background: linear-gradient(340deg, rgba(233, 196, 106, 0.909401) 28%, rgba(244, 162, 97, 0.923407) 100%);
    border: 0px;
    border-radius: 8px; }
  #groups div:hover .card-title {
    color: #264653; }
  #groups div:hover .buttonAlternative {
    color: #ffffff;
    background-color: #2A9D8F; }

.groupHorarios {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  justify-content: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px; }

.groupDetails {
  padding: 16px;
  border: 1px solid #2A9D8F;
  border-radius: 8px;
  width: 100%; }

/* ---------- ACA COMIENZAN LAS CLASES DEL BANNER ---------- */
.bannerMedia {
  position: relative; }
  .bannerMedia .media {
    position: relative;
    z-index: 0;
    max-width: 100%;
    height: auto;
    width: 100%; }
  .bannerMedia .mediaMobile {
    display: none;
    width: 100%; }
  .bannerMedia .secondaryTitle {
    padding-bottom: 24px; }

.bannerContent {
  position: absolute;
  top: 40%;
  left: 40px;
  z-index: 1; }

/* ---------- ACA COMIENZAN LAS CLASES DEL BANNER FINAL ---------- */
.bannerEnd {
  background-color: #ffffff;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center; }
  .bannerEnd .bannerEndContent {
    display: grid;
    padding: 16px 40px 40px 40px;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center; }
    .bannerEnd .bannerEndContent .generalText {
      padding-bottom: 24px; }

/* ---------- ACA COMIENZAN LAS CLASES DE LA SECCION ABOUT ---------- */
#about {
  padding: 24px; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

/* ---------- ACA COMIENZAN LAS CLASES DE LA SECCION CONTACT ---------- */
#contact {
  padding: 24px; }

/* ---------- PAGINA DE ERROR 404 ---------- */
#errorPage404 {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center; }
  #errorPage404 .errorPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px; }
    #errorPage404 .errorPageContent .img404 {
      width: 100%;
      height: 400px;
      padding-top: 24px;
      padding-bottom: 40px; }

/* ---------- AJUSTES PARA TALBET ---------- */
/* ---------- AJUSTES PARA TALBET ---------- */
/* ---------- AJUSTES PARA TALBET ---------- */
@media only screen and (max-width: 768px) {
  /* ---------- HERO ---------- */
  .heroContent {
    top: 30%; }
    .heroContent .mainTitle {
      font-size: 3.125rem; }
  /* ---------- PDORUCT ---------- */
  #product {
    padding-right: 16px;
    padding-left: 16px; }
    #product .imageLeft img {
      max-width: 348px; }
    #product .imageRight img {
      max-width: 348px; }
  /* ---------- BANNER ---------- */
  .bannerMedia {
    position: relative; }
  .bannerContent {
    top: 30%;
    left: 24px; }
    .bannerContent .secondaryTitle {
      padding-bottom: 16px; } }

/* ---------- AJUSTES PARA MOBILE ---------- */
/* ---------- AJUSTES PARA MOBILE ---------- */
/* ---------- AJUSTES PARA MOBILE ---------- */
@media only screen and (max-width: 375px) {
  /* ---------- HERO ---------- */
  .heroMedia {
    position: relative; }
  .heroContent {
    top: 20%;
    left: 16px;
    padding-right: 16px; }
    .heroContent .mainTitle {
      font-size: 2rem; }
    .heroContent .generalText {
      font-size: 1rem; }
  /* ---------- PODUCTO ---------- */
  #product {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 32px;
    padding-bottom: 32px; }
    #product .imageRight {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 348px;
      padding: 0px; }
      #product .imageRight div {
        order: 2; }
      #product .imageRight img {
        order: 1; }
    #product .imageLeft {
      display: grid;
      grid-template-columns: 1fr;
      max-width: 348px;
      padding: 0px; }
      #product .imageLeft img {
        padding-bottom: 24px; }
  /* ---------- ACA COMIENZAN LAS CLASES DEL FOOTER ---------- */
  #footer {
    justify-content: center; }
    #footer .footerInfo {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center; }
      #footer .footerInfo .footerInfo img {
        width: 100px; }
    #footer .footerMenu {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      grid-column-gap: 0px; }
      #footer .footerMenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0px; }
        #footer .footerMenu ul li {
          padding: 0 0 8px 0; }
  /* ---------- BANNER FINAL ---------- */
  .bannerEndContent {
    padding: 0px 16px 16px 16px; }
  /* ---------- BANNER ---------- */
  .bannerContent {
    top: 40%;
    left: 16px; }
  .bannerMedia .mediaMobile {
    display: inherit; }
  .bannerMedia .media {
    display: none; }
  /* ---------- ACA COMIENZAN LAS CLASES DE GRUPOS ---------- */
  #groups {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px; }
  .groupHorarios {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px; }
  /* ---------- ACA COMIENZAN LOS ID DE MASTERCLASS ---------- */
  #masterclass iframe {
    width: 100%;
    height: 250px; }
  /* ---------- ACA COMIENZAN LAS CLASES DE LA SECCION CONTACT ---------- */
  #contact {
    padding: 16px; }
    #contact .gmap_canvas {
      padding-top: 24px;
      width: 348px; }
    #contact .mapouter {
      width: 348px; }
    #contact #contact iframe {
      width: 348px; } }
