$orange: #F4A261;
$orange-strong: #E76F51;
$greycoral: #264653;
$greylight: #c4c4c4;
$greenwater: #2A9D8F;
$plainwhite: #ffffff;
$gradient-home: linear-gradient(340deg, rgba(42,157,143,0.6152836134453781) 0%, rgba(233,196,106,1) 28%, rgba(244,162,97,0.923406862745098) 100%);
$gradient-cards: linear-gradient(340deg, rgba(233,196,106,0.9094012605042017) 28%, rgba(244,162,97,0.923406862745098) 100%);